---
import Tabs from "../components/Tabs.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Alétheia | Nosaltres">
    <h1 class="text-6xl text-center">Nosaltres</h1>
    <Tabs />
</Layout>
