---
import Tabs from "../components/nosaltresComponents/Tabs.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Alétheia | Nosaltres">
    <h1 class="lg:text-6xl text-center text-4xl">Nosaltres</h1>
    <Tabs />
</Layout>
