<footer class="w-full flex justify-center">
    <div
        class="flex gap-4 md:flex-row flex-col justify-between items-center md:px-16 px-6 pb-8 md:pt-10 pt-3 max-w-screen-xl w-full"
    >
        <div class="flex justify-center w-[40%]">
            <img src="/Logo.svg" alt="logo" class="w-20 mr-4" />
        </div>
        <div
            class="flex flex-col items-center gap-4 text-[#5F5E5D] md:w-[45%] w-[90%]"
        >
            <a
                href=""
                class="bg-[var(--yellow)] rounded-full w-full px-5 py-3 text-[#1D1D1B] flex justify-between items-center"
            >
                <p>Demana ajuda</p>

                <img src="/chevronRight.svg" alt="icona" width="20" />
            </a>
            <a
                href=""
                class="bg-[var(--yellow)] rounded-full w-full px-5 py-3 text-[#1D1D1B] flex justify-between items-center"
            >
                <p>Sigues un acompanyant</p>

                <img src="/chevronRight.svg" alt="icona" width="20" />
            </a><a
                href=""
                class="bg-[var(--yellow)] rounded-full w-full px-5 py-3 text-[#1D1D1B] flex justify-between items-center"
            >
                <p>Recursos digitals</p>

                <img src="/chevronRight.svg" alt="icona" width="20" />
            </a>
        </div>
    </div>
</footer>
